.dropdown
{
    padding-right: 35px;
    padding-left: 12px;

    transition: box-shadow .15s ease-out;

    border: none;
    border-radius: 4px;
    background-color: #fff;

    background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjQwIiB2aWV3Qm94PSIwIDAgMzggNDAiIHdpZHRoPSIzOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNCAwIDQgNmgtOHptMCAxNCA0LTZoLTh6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii44NyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUgMTMpIi8+PC9zdmc+');
    background-position: right center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1px #ccc;

    font-style: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 44px;
    -webkit-appearance: none;
}

.dropdown:hover
{
    box-shadow: inset 0 0 0 1px #878787;
}

.dropdown:focus
{
    outline: none;
    box-shadow: 0 0 0 1px #fc0, inset 0 0 0 1px #fc0;
}
