.dropdown
{
    position: absolute;
    top: calc(100% + 4px);

    z-index: 90;

    overflow: hidden;

    width: 100%;

    cursor: pointer;

    border-radius: 4px;
    background: #fff;
    box-shadow: 0 7px 15px rgba(0, 0, 0, .12), 0 5px 46px rgba(0, 0, 0, .12);
}

.dropdown--top
{
    top: auto;
    bottom: calc(100% + 4px);
}

.submitButton
{
    width: 100%;
}
