.wrapper
{
    position: relative;

    width: 100%;
}

.input-wrapper
{
    position: relative;
}

.input-icon
{
    position: absolute;

    top: 50%;
    right: 0;

    display: flex;

    transform: translateY(-50%);
}

.arrow-wrapper
{
    width: 36px;

    border-left: 1px solid #ccc;
}

.arrow-button
{
    cursor: pointer;

    border: 0;
    outline: none;
    background: transparent;
}
