.resize-handle
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    width: 8px;
    height: 100%;

    cursor: col-resize;
}

.resize-handle:hover
{
    background-color: #e8e8e8;
}
