.item-bage
{
    display: flex;
    align-items: center;

    overflow: hidden;

    margin: 0 2px 2px;
    padding: 4px;

    border-radius: 4px;

    background-color: #e8e8e8;
}

.text-wrapper
{
    overflow: hidden;

    max-width: 100%;

    text-overflow: ellipsis;
}

.exclude-button
{
    display: flex;
    align-items: center;

    cursor: pointer;

    border: none;

    outline: none;

    background-color: transparent;
}
