.body-cell
{
    padding: 2px 12px;

    border-bottom: 1px solid var(--elementBackgroundColor);
}

.multiline-cell
{
    white-space: pre-line;
    word-break: break-all;
}

.ellipsis-content
{
    overflow: hidden;

    width: 0;
    min-width: 100%;

    text-overflow: ellipsis;
}
