.wrapper
 {
    display: flex;
    align-items: center;

    width: 100%;
}

.calendar
 {
    position: absolute;
    right: 4px;

    display: flex;
    align-items: center;

    min-height: 100%;
}
